/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 959px) {

    .topo_site{
        background-image: url(../IMG/banner-tablet.webp);
        background-size: cover;       
    }

    .topo_site h1{
        font-size: 31px;
    }

    .img_secao{
        display: none;
    }

    .secao_1 h2{
        font-size: 28px;
    }

    .render{
        margin-top: 161px;
    }

    .secao_2 h2{
        font-size: 31px;
        margin-top: 130px;
    }

    .secao_3 li{
        width: 235px;
    }

    .secao_3 li p{
        font-size: 15px;
    }

    .secao_3 li h3{
        font-size: 18px;
    }

    .secao_4 h2{
        font-size: 25px;
    }

    .secao_4{
        height: 560px;
    }

    .secao_6 h2{
        font-size: 25px;
        margin-top: 20px;
    }

    .profissional1{
        margin-top: -23px;
    }

    .voltar{
        left: 91%;
    }

}

/* Smartphone */

@media only screen and (max-width: 768px){
    
    .topo_site{
        background-image: url(../IMG/banner-cel.webp);
    }

    .topo_site h1{
        margin-top: 10px;
        font-size: 30px;
    }

    .botao{
        margin-top: 270px;
    }

    .img_secao{
        display: none;
    }

    .secao_1 h2{
        margin-top: 20px;
        font-size: 28px;
    }

    .render{
        display: none;
    }
    
    .secao_2 h2{
        margin-top: 95px;
        font-size: 28px;
    }

    .eletricista{
        display: none;
    }

    .secao_3 h2{
        font-size: 25px;
    }

    .secao_5 h2{
        font-size: 25px;
    }

    .secao_6 h2{
        margin-top: -50px;
    }

    .secao_6{
        height: 1300px;
    }

    .secao_6 .ligacao{
        margin-top: 70px;
    }

    .eletrica{
        display: none;
    }

    .secao_6 .botao{
        margin-top: 60px;
    }

    .secao_7 h2{
        font-size: 25px;
    }

    .secao_8{
        height: 2800px;
    }

    .secao_8 img{
        margin-top: 2000px;
    }

    .profissional1{
        border-radius: 500px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        width: 300px;
        height: 300px;
        -o-object-fit: cover;
        margin-top: 30px;
    }

    .secao_9{
        height: 800px;
    }

    .secao_9 .voltar{
        left: 87%;
    }
	
}